 <!-- appnav starts here -->
 <nav class="navbar fixed-top app-nav mx-auto navbar-expand-md navbar-light bg-white pb-2">
        <a class="navbar-brand" href="javascript:void(0);">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appHeader" aria-controls="appHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="appHeader">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link position-relative text-center" routerLinkActive="active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link position-relative text-center" routerLinkActive="active" routerLink="/charts">Charts</a>
         </div>
        </div>
      </nav>
    <!-- appnav ends here -->