<!-- landing page starts here -->
<section class="landing-wrapper">
        <div class="custom-container mx-auto bg-white p-0">
                <app-header></app-header>
                <!-- main content starts here -->
                <div class="content-wrapper page-wrapper">
                        <div class="hero-container pt-md-3 mt-md-1 position-relative">
                                <div class="title-block">
                                        <h1 class="m-0 p-0">Global Warming</h1>
                                </div>
                                <img src="assets/images/climate-change.jpg" alt="climate" class="img-fluid hero-img">
                                <div class="hero-text text-right w-100">
                                        <h1 class="mb-0">Confronting the Realities <br>of Climate Change</h1>
                                        <p class="mb-0">The consequences of global warming are already here.</p>
                                </div>
                        </div>
                </div>
                <!-- main content starts here -->
        </div>
</section>
<!-- landing page ends here -->